.u-section-1 .u-sheet-1 {
  min-height: 1708px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: "Alex Brush";
  margin: 60px 193px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 1022px;
  margin: 1px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  --gap: 20px;
  min-height: 250px;
}

.u-section-1 .u-image-1 {
  filter: none;
  background-image: url("images/WhatsAppImage2026-05-11at20.28.24.jpeg");
  background-size: auto 135%;
  background-position: 52.98% 51.52%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  filter: none;
  background-image: url("images/WhatsAppImage2026-05-11at20.28.25.jpeg"), url("images/WhatsAppImage2026-05-11at20.28.24.jpeg");
  background-position: 76.48% 75.48%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: 120%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  filter: none;
  background-image: url("images/IMG-20251228-WA0138.jpg"), url("images/WhatsAppImage2026-05-11at20.28.24.jpeg");
  background-position: 56.63% 66.27%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: 165%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 96px auto 0 52px;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 2px;
  margin: -2px auto 0 52px;
}

.u-section-1 .u-group-1 {
  width: 518px;
  min-height: 687px;
  height: auto;
  margin: 30px auto 0 52px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 20px 30px 15px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-family: Adamina;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-image-4 {
  width: 518px;
  min-height: 687px;
  height: auto;
  background-image: url("images/WhatsAppImage2026-05-11at20.40.19.jpeg");
  background-position: 50% 12.44%;
  background-size: cover;
  margin: -687px 52px 60px auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    min-height: 250px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.333333333333334px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.333333333333334px));
    min-height: 230px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 529px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 4rem;
    margin-right: 145px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.6666666666666665rem;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-image-4 {
    margin-right: 22px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 91px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    margin-right: 0;
  }
}